<div class="dt-root">
  <%= render 'layouts/partials/header', collection: @partials %>    
  <main class="dt-main">
    <%= render 'layouts/partials/sidebar', collection: @partials %>
    <!-- Site Content Wrapper -->
    <div class="dt-content-wrapper">
      <!-- Site Content -->
      <div class="dt-content">

        <!-- Page Header -->
        <div class="dt-page__header d-none d-md-block">
          <h1 class="dt-page__title">Contact App</h1>
        </div>
        <!-- /page header -->

        <!-- Grid -->
        <div class="row">

          <!-- Grid Item -->
          <div class="col-xl-12">

            <!-- Module -->
            <div class="dt-module">

              <!-- Module Sidebar -->
              <div class="dt-module__sidebar">

                <!-- Sidebar Header -->
                <div class="dt-module__sidebar-header border-bottom">
                  <div class="d-none d-md-flex align-items-center">
                    <i class="icon icon-user-account icon-1x mr-3 text-dark"></i>
                    <span class="h3 mb-0">Contacts</span>
                  </div>

                  <!-- App Quick Menu -->
                  <div class="quick-menu-list d-md-none">

                    <!-- Search Box -->
                    <form class="search-box d-md-none">
                      <input class="form-control" type="search" id="address" name="address"
                             placeholder="Search in app...">
                      <button type="submit" class="search-icon"><i class="icon icon-search icon-lg"></i></button>
                    </form>
                    <!-- /search box -->

                    <a href="javascript:void(0)" class="quick-menu d-none d-md-block"><i class="icon icon-search"></i></a>
                    <a href="javascript:void(0)" class="quick-menu" data-toggle="modal" data-target="#composeModal">
                      <i class="icon icon-contacts"></i> </a>
                    <a href="javascript:void(0)" class="quick-menu" data-toggle="mdrawer" data-target="#drawer-notifications"><i class="icon icon-notification2"></i></a>
                    <a href="javascript:void(0)" class="quick-menu d-md-none" data-toggle="msidebar-content"><i class="icon icon-menu"></i></a>
                  </div>
                  <!-- /app quick menu -->
                </div>
                <!-- /sidebar header -->

                <!-- Sidebar Menu -->
                <div class="dt-module__sidebar-content ps-custom-scrollbar">

                  <!-- Button -->
                  <div class="action-area mt-5 mb-7 d-none d-md-block">
                    <a href="javascript:void(0)" class="btn btn-shadow btn-default compose-btn btn-rounded"
                       data-toggle="modal" data-target="#composeModal">
                      <i class="icon icon-contacts icon-fw mr-2"></i>Add Contact </a>
                  </div>
                  <!-- /button -->

                  <!-- Sidebar Navigation -->
                  <ul class="dt-module-side-nav">

                    <!-- Menu Header -->
                    <li class="dt-module-side-nav__header">
                      <span class="dt-module-side-nav__text">Contacts</span>
                    </li>
                    <!-- /menu header -->

                    <!-- Menu Item -->
                    <li class="dt-module-side-nav__item active">
                      <a href="javascript:void(0)" class="dt-module-side-nav__link">
                        <i class="icon icon-contacts icon-fw icon-lg"></i>
                        <span class="dt-module-side-nav__text">All Contacts</span> </a>
                    </li>
                    <!-- /menu item -->

                    <!-- Menu Item -->
                    <li class="dt-module-side-nav__item">
                      <a href="javascript:void(0)" class="dt-module-side-nav__link">
                        <i class="icon icon-heart-o icon-fw icon-lg"></i>
                        <span class="dt-module-side-nav__text">Favourite List</span> </a>
                    </li>
                    <!-- /menu item -->

                    <!-- Menu Item -->
                    <li class="dt-module-side-nav__item">
                      <a href="javascript:void(0)" class="dt-module-side-nav__link">
                        <i class="icon icon-contacts icon-fw icon-lg"></i>
                        <span class="dt-module-side-nav__text">Suggestions</span> </a>
                    </li>
                    <!-- /menu item -->

                    <!-- Menu Item -->
                    <li class="dt-module-side-nav__item">
                      <a href="javascript:void(0)" class="dt-module-side-nav__link">
                        <i class="icon icon-star-o icon-fw icon-lg"></i>
                        <span class="dt-module-side-nav__text">Starred contacts</span> </a>
                    </li>
                    <!-- /menu item -->

                    <!-- Menu Item -->
                    <li class="dt-module-side-nav__item">
                      <a href="javascript:void(0)" class="dt-module-side-nav__link">
                        <i class="icon icon-settings icon-fw icon-lg"></i>
                        <span class="dt-module-side-nav__text">Settings</span> </a>
                    </li>
                    <!-- /menu item -->

                  </ul>
                  <!-- /sidebar navigation -->

                </div>
                <!-- /sidebar Menu -->

              </div>
              <!-- /module sidebar -->

              <!-- Module Container -->
              <div class="dt-module__container">

                <!-- Module Header -->
                <div class="dt-module__header d-none d-md-flex">

                  <!-- Search Box -->
                  <form class="search-box ml--15">
                    <input class="form-control border-0 shadow-none bg-focus form-control-sm"
                           placeholder="Search in app..." value=""
                           type="search"> <span class="search-icon"><i class="icon icon-search icon-lg"></i></span>
                  </form>
                  <!-- /search box -->

                  <!-- Dropdown -->
                  <div class="dropdown dt-notification ml-auto">

                    <!-- Dropdown Button -->
                    <a href="javascript:void(0)" class="dropdown-toggle no-arrow" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                      <i class="icon icon-notification2 icon-1x icon-fw dt-icon-alert"></i> </a>
                    <!-- /dropdown button -->

                    <!-- Dropdown Option -->
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-media">
                      <!-- Dropdown Menu Header -->
                      <div class="dropdown-menu-header">
                        <h4 class="title">Notifications (9)</h4>

                        <div class="ml-auto action-area">
                          <a href="javascript:void(0)">Mark All Read</a> <a class="ml-2" href="javascript:void(0)">
                            <i class="icon icon-settings icon-lg text-light-gray"></i> </a>
                        </div>
                      </div>
                      <!-- /dropdown menu header -->

                      <!-- Dropdown Menu Body -->
                      <div class="dropdown-menu-body ps-custom-scrollbar">

                        <div class="h-auto">
                          <!-- Media -->
                          <a href="javascript:void(0)" class="media">

                            <!-- Avatar -->
                            <img class="dt-avatar mr-3" src="/assets/images/user-avatar/stella-johnson.jpg" alt="User">
                            <!-- avatar -->

                            <!-- Media Body -->
                            <span class="media-body">
                    <span class="message">
                      <span class="user-name">Stella Johnson</span> and <span class="user-name">Chris Harris</span>
                      have birthdays today. Help them celebrate!
                    </span>
                    <span class="meta-date">8 hours ago</span>
                  </span>
                            <!-- /media body -->

                          </a>
                          <!-- /media -->

                          <!-- Media -->
                          <a href="javascript:void(0)" class="media">

                            <!-- Avatar -->
                            <img class="dt-avatar mr-3" src="/assets/images/user-avatar/jeson-born.jpg" alt="User">
                            <!-- avatar -->

                            <!-- Media Body -->
                            <span class="media-body">
                    <span class="message">
                      <span class="user-name">Jonathan Madano</span> commented on your post.
                    </span>
                    <span class="meta-date">9 hours ago</span>
                  </span>
                            <!-- /media body -->

                          </a>
                          <!-- /media -->

                          <!-- Media -->
                          <a href="javascript:void(0)" class="media">

                            <!-- Avatar -->
                            <img class="dt-avatar mr-3" src="/assets/images/user-avatar/selena.jpg" alt="User">
                            <!-- avatar -->

                            <!-- Media Body -->
                            <span class="media-body">
                    <span class="message">
                      <span class="user-name">Chelsea Brown</span> sent a video recomendation.
                    </span>
                    <span class="meta-date">
                      <i class="icon icon-play-circle text-primary icon-fw mr-1"></i>
                      13 hours ago
                    </span>
                  </span>
                            <!-- /media body -->

                          </a>
                          <!-- /media -->

                          <!-- Media -->
                          <a href="javascript:void(0)" class="media">

                            <!-- Avatar -->
                            <img class="dt-avatar mr-3" src="/assets/images/user-avatar/alex-dolgove.jpg" alt="User">
                            <!-- avatar -->

                            <!-- Media Body -->
                            <span class="media-body">
                    <span class="message">
                      <span class="user-name">Alex Dolgove</span> and <span class="user-name">Chris Harris</span>
                      like your post.
                    </span>
                    <span class="meta-date">
                      <i class="icon icon-like text-light-blue icon-fw mr-1"></i>
                      yesterday at 9:30
                    </span>
                  </span>
                            <!-- /media body -->

                          </a>
                          <!-- /media -->
                        </div>

                      </div>
                      <!-- /dropdown menu body -->

                      <!-- Dropdown Menu Footer -->
                      <div class="dropdown-menu-footer">
                        <a href="javascript:void(0)" class="card-link"> See All
                          <i class="icon icon-arrow-right icon-fw"></i> </a>
                      </div>
                      <!-- /dropdown menu footer -->
                    </div>
                    <!-- /dropdown option -->

                  </div>
                  <!-- /dropdown -->

                </div>
                <!-- /module header -->

                <!-- Module Content -->
                <div class="dt-module__content ps-custom-scrollbar">

                  <!-- Module Content Inner -->
                  <div class="dt-module__content-inner">

                    <div class="px-1 pb-4 border-bottom border-width-2 mb-1 mt--5">
                      <!-- Dropdown -->
                      <div class="dropdown">

                        <!-- Checkbox -->
                        <span class="dt-checkbox dt-checkbox-icon dt-checkbox-only mr-3">
                      <input id="option-checkbox" type="checkbox">
                      <label class="font-weight-light dt-checkbox-content" for="option-checkbox">
                        <span class="unchecked"><i class="icon icon-box-o icon-fw icon-xl"></i></span>
                        <span class="checked"><i class="icon icon-box-check-o icon-fw icon-xl text-primary"></i></span>
                      </label>
                    </span>
                        <!-- /checkbox -->

                        <!-- Dropdown Button -->
                        <a href="javascript:void(0)" class="dropdown-toggle text-dark" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"> None </a>
                        <!-- /dropdown button -->

                        <!-- Dropdown Menu -->
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="javascript:void(0)">All</a>
                          <a class="dropdown-item" href="javascript:void(0)">Read</a>
                          <a class="dropdown-item" href="javascript:void(0)">Unread</a>
                          <a class="dropdown-item" href="javascript:void(0)">Starred</a>
                        </div>
                        <!-- /dropdown menu -->

                      </div>
                      <!-- /dropdown -->
                    </div>

                    <!-- Module List -->
                    <div class="dt-module__list">

                      <!-- Module Item -->
                      <div class="dt-module__list-item">

                        <!-- Checkbox -->
                        <div class="dt-checkbox dt-checkbox-icon dt-checkbox-only mr-5">
                          <input id="icon-checkbox-1" type="checkbox">
                          <label class="font-weight-light dt-checkbox-content" for="icon-checkbox-1">
                            <span class="unchecked"><i class="icon icon-box-o icon-fw icon-xl"></i></span>
                            <span class="checked"><i
                                      class="icon icon-box-check-o icon-fw icon-xl text-primary"></i></span> </label>
                        </div>
                        <!-- /checkbox -->

                        <!-- Checkbox -->
                        <div class="dt-checkbox dt-checkbox-icon dt-checkbox-only mr-5">
                          <input id="icon-checkbox-2" type="checkbox">
                          <label class="font-weight-light dt-checkbox-content" for="icon-checkbox-2">
                            <span class="unchecked"><i class="icon icon-star-o icon-fw icon-xl"></i></span>
                            <span class="checked"><i class="icon icon-star-fill icon-fw icon-xl text-warning"></i></span>
                          </label>
                        </div>
                        <!-- /checkbox -->

                        <!-- Avatar -->
                        <img class="dt-avatar mr-4" src="/assets/images/user-avatar/amay.jpg" alt="Dinesh Suthar">
                        <!-- /avatar -->

                        <!-- Module Content -->
                        <div class="dt-module__list-item-content">
                          <h4 class="d-inline-block mb-1 pr-3 mr-2 border-right">Chris Harris</h4>
                          <h4 class="d-inline-block mb-1">Graphic Design / Logo Design / UI &amp; UX</h4>
                          <div class="text-light-gray">
                            <span class="d-inline-block mr-3">chris.harris@example.com</span>
                            <span class="d-inline-block">+168214854</span>
                          </div>
                        </div>
                        <!-- /module content -->

                        <!-- Module Info -->
                        <div class="dt-module__list-item-info">
                          <!-- Dropdown -->
                          <div class="dropdown">
                            <a class="dropdown-toggle no-arrow" href="javascript:void(0)" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                              <i class="icon icon-vertical-more icon-xl text-light-gray"></i> </a>

                            <div class="dropdown-menu dropdown-menu-right">
                              <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal"
                                 data-target="#composeModal"> <i class="icon icon-editors icon-fw"></i> Edit </a>
                              <a class="dropdown-item" href="javascript:void(0)">
                                <i class="icon icon-trash icon-fw"></i> Delete </a>
                              <a class="dropdown-item" href="javascript:void(0)">
                                <i class="icon icon-heart-o icon-fw"></i> Favourite List </a>
                            </div>
                          </div>
                          <!-- /dropdown -->
                        </div>
                        <!-- /module info -->
                      </div>
                      <!-- /module item -->

                      <!-- Module Item -->
                      <div class="dt-module__list-item">

                        <!-- Checkbox -->
                        <div class="dt-checkbox dt-checkbox-icon dt-checkbox-only mr-5">
                          <input id="icon-checkbox-3" type="checkbox">
                          <label class="font-weight-light dt-checkbox-content" for="icon-checkbox-3">
                            <span class="unchecked"><i class="icon icon-box-o icon-fw icon-xl"></i></span>
                            <span class="checked"><i
                                      class="icon icon-box-check-o icon-fw icon-xl text-primary"></i></span> </label>
                        </div>
                        <!-- /checkbox -->

                        <!-- Checkbox -->
                        <div class="dt-checkbox dt-checkbox-icon dt-checkbox-only mr-5">
                          <input id="icon-checkbox-4" type="checkbox" checked>
                          <label class="font-weight-light dt-checkbox-content" for="icon-checkbox-4">
                            <span class="unchecked"><i class="icon icon-star-o icon-fw icon-xl"></i></span>
                            <span class="checked"><i class="icon icon-star-fill icon-fw icon-xl text-warning"></i></span>
                          </label>
                        </div>
                        <!-- /checkbox -->

                        <!-- Avatar -->
                        <img class="dt-avatar mr-4" src="/assets/images/user-avatar/stella-johnson.jpg"
                             alt="Stella Johnson">
                        <!-- /avatar -->

                        <!-- Module Content -->
                        <div class="dt-module__list-item-content">
                          <h4 class="d-inline-block mb-1 pr-3 mr-2 border-right">Alia Joseph</h4>
                          <h4 class="d-inline-block mb-1">UI/UI Expert</h4>
                          <div class="text-light-gray">
                            <span class="d-inline-block mr-3">aliajoseph12@example.com</span>
                            <span class="d-inline-block">+2568421674</span>
                          </div>
                        </div>
                        <!-- /module content -->

                        <!-- Module Info -->
                        <div class="dt-module__list-item-info">
                          <!-- Dropdown -->
                          <div class="dropdown">
                            <a class="dropdown-toggle no-arrow" href="javascript:void(0)" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                              <i class="icon icon-vertical-more icon-xl text-light-gray"></i> </a>

                            <div class="dropdown-menu dropdown-menu-right">
                              <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal"
                                 data-target="#composeModal"> <i class="icon icon-editors icon-fw"></i> Edit </a>
                              <a class="dropdown-item" href="javascript:void(0)">
                                <i class="icon icon-trash icon-fw"></i> Delete </a>
                              <a class="dropdown-item" href="javascript:void(0)">
                                <i class="icon icon-heart-o icon-fw"></i> Favourite List </a>
                            </div>
                          </div>
                          <!-- /dropdown -->
                        </div>
                        <!-- /module info -->
                      </div>
                      <!-- /module item -->

                      <!-- Module Item -->
                      <div class="dt-module__list-item">

                        <!-- Checkbox -->
                        <div class="dt-checkbox dt-checkbox-icon dt-checkbox-only mr-5">
                          <input id="icon-checkbox-7" type="checkbox">
                          <label class="font-weight-light dt-checkbox-content" for="icon-checkbox-7">
                            <span class="unchecked"><i class="icon icon-box-o icon-fw icon-xl"></i></span>
                            <span class="checked"><i
                                      class="icon icon-box-check-o icon-fw icon-xl text-primary"></i></span> </label>
                        </div>
                        <!-- /checkbox -->

                        <!-- Checkbox -->
                        <div class="dt-checkbox dt-checkbox-icon dt-checkbox-only mr-5">
                          <input id="icon-checkbox-8" type="checkbox">
                          <label class="font-weight-light dt-checkbox-content" for="icon-checkbox-8">
                            <span class="unchecked"><i class="icon icon-star-o icon-fw icon-xl"></i></span>
                            <span class="checked"><i class="icon icon-star-fill icon-fw icon-xl text-warning"></i></span>
                          </label>
                        </div>
                        <!-- /checkbox -->

                        <!-- Avatar -->
                        <img class="dt-avatar mr-4" src="/assets/images/user-avatar/mathew.jpg" alt="Mathew">
                        <!-- /avatar -->

                        <!-- Module Content -->
                        <div class="dt-module__list-item-content">
                          <h4 class="d-inline-block mb-1 pr-3 mr-2 border-right">Mathew</h4>
                          <h4 class="d-inline-block mb-1">React Developer</h4>
                          <div class="text-light-gray">
                            <span class="d-inline-block mr-3">mathew@example.com</span>
                            <span class="d-inline-block">+7582475166</span>
                          </div>
                        </div>
                        <!-- /module content -->

                        <!-- Module Info -->
                        <div class="dt-module__list-item-info">
                          <!-- Dropdown -->
                          <div class="dropdown">
                            <a class="dropdown-toggle no-arrow" href="javascript:void(0)" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                              <i class="icon icon-vertical-more icon-xl text-light-gray"></i> </a>

                            <div class="dropdown-menu dropdown-menu-right">
                              <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal"
                                 data-target="#composeModal"> <i class="icon icon-editors icon-fw"></i> Edit </a>
                              <a class="dropdown-item" href="javascript:void(0)">
                                <i class="icon icon-trash icon-fw"></i> Delete </a>
                              <a class="dropdown-item" href="javascript:void(0)">
                                <i class="icon icon-heart-o icon-fw"></i> Favourite List </a>
                            </div>
                          </div>
                          <!-- /dropdown -->
                        </div>
                        <!-- /module info -->
                      </div>
                      <!-- /module item -->

                      <!-- Module Item -->
                      <div class="dt-module__list-item">

                        <!-- Checkbox -->
                        <div class="dt-checkbox dt-checkbox-icon dt-checkbox-only mr-5">
                          <input id="icon-checkbox-5" type="checkbox">
                          <label class="font-weight-light dt-checkbox-content" for="icon-checkbox-5">
                            <span class="unchecked"><i class="icon icon-box-o icon-fw icon-xl"></i></span>
                            <span class="checked"><i
                                      class="icon icon-box-check-o icon-fw icon-xl text-primary"></i></span> </label>
                        </div>
                        <!-- /checkbox -->

                        <!-- Checkbox -->
                        <div class="dt-checkbox dt-checkbox-icon dt-checkbox-only mr-5">
                          <input id="icon-checkbox-6" type="checkbox" checked>
                          <label class="font-weight-light dt-checkbox-content" for="icon-checkbox-6">
                            <span class="unchecked"><i class="icon icon-star-o icon-fw icon-xl"></i></span>
                            <span class="checked"><i class="icon icon-star-fill icon-fw icon-xl text-warning"></i></span>
                          </label>
                        </div>
                        <!-- /checkbox -->

                        <!-- Avatar -->
                        <img class="dt-avatar mr-4" src="/assets/images/user-avatar/steve-smith.jpg" alt="Steve Smith">
                        <!-- /avatar -->

                        <!-- Module Content -->
                        <div class="dt-module__list-item-content">
                          <h4 class="d-inline-block mb-1 pr-3 mr-2 border-right">Joshua Brian</h4>
                          <h4 class="d-inline-block mb-1">Data Analyst</h4>
                          <div class="text-light-gray">
                            <span class="d-inline-block mr-3">joshua@example.com</span>
                            <span class="d-inline-block">+9214981412</span>
                          </div>
                        </div>
                        <!-- /module content -->

                        <!-- Module Info -->
                        <div class="dt-module__list-item-info">
                          <!-- Dropdown -->
                          <div class="dropdown">
                            <a class="dropdown-toggle no-arrow" href="javascript:void(0)" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                              <i class="icon icon-vertical-more icon-xl text-light-gray"></i> </a>

                            <div class="dropdown-menu dropdown-menu-right">
                              <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal"
                                 data-target="#composeModal"> <i class="icon icon-editors icon-fw"></i> Edit </a>
                              <a class="dropdown-item" href="javascript:void(0)">
                                <i class="icon icon-trash icon-fw"></i> Delete </a>
                              <a class="dropdown-item" href="javascript:void(0)">
                                <i class="icon icon-heart-o icon-fw"></i> Favourite List </a>
                            </div>
                          </div>
                          <!-- /dropdown -->
                        </div>
                        <!-- /module info -->
                      </div>
                      <!-- /module item -->

                    </div>
                    <!-- /module list -->

                  </div>
                  <!-- /module content inner -->

                </div>
                <!-- /module content -->

              </div>
              <!-- /module container -->

              <!-- Module Drawer -->
              <div class="dt-module__drawer dt-drawer position-left">

                <!-- Module Drawer Inner -->
                <div class="dt-module__drawer-inner">

                  <div class="dt-module__drawer-header">
                    <a href="javascript:void(0)" class="d-inline-block" data-dismiss="mdrawer">
                      <i class="icon icon-arrow-long-left icon-2x mr-3"></i> <span class="align-middle">Back</span> </a>
                  </div>

                  <!-- Actionable Drawer -->
                  <div class="dt-actionable-drawer">

                    <!-- Menu Bar -->
                    <div class="dt-action-bar">

                      <!-- Action Menu -->
                      <ul class="dt-action-nav">

                        <!-- Menu Item -->
                        <li class="dt-action-nav__item">
                          <a href="javascript:void(0)" class="dt-action-nav__link" data-switch="mdrawer" data-target="#drawer-notifications">
                            <i class="icon icon-notification2 icon-fw"></i> </a>
                        </li>
                        <!-- /menu item -->

                        <!-- Menu Item -->
                        <li class="dt-action-nav__item">
                          <a href="javascript:void(0)" class="dt-action-nav__link" data-switch="mdrawer" data-target="#drawer-search-bar">
                            <i class="icon icon-search icon-fw"></i> </a>
                        </li>
                        <!-- /menu item -->

                      </ul>
                      <!-- /action menu -->

                    </div>
                    <!-- /menu bar -->

                    <!-- Drawer Content Area -->
                    <div class="dt-action-content-wrapper ps-custom-scrollbar">

                      <div class="dt-action-content">

                        <!-- Search -->
                        <div class="dt-notification fade" id="drawer-search-bar">
                          <!-- Search Box -->
                          <form class="search-box right-side-icon w-100 mb-8">
                            <input class="form-control form-control-lg" id="address-1" name="address-1" placeholder="Search in app..." type="search">
                            <button type="submit" class="search-icon"><i class="icon icon-search icon-lg"></i></button>
                          </form>
                          <!-- /search box -->

                          <h4>Recently Viewed</h4>

                          <!-- Search Result-->
                          <div class="search-result">
                            <a href="javascript:void(0)" class="dt-avatar-wrapper">
                              <!-- Avatar -->
                              <span class="dt-avatar bg-primary text-white font-italic">PHP</span>
                              <!-- /avatar -->

                              <!-- Avatar Info -->
                              <span class="dt-avatar-info">
                              <span class="dt-avatar-name">Chat Bull</span>
                              <span class="f-12">Example Web</span>
                            </span>
                              <!-- /avatar info -->

                            </a>
                          </div>
                          <!-- /search result-->

                          <!-- Search Result-->
                          <div class="search-result">
                            <a href="javascript:void(0)" class="dt-avatar-wrapper">
                              <!-- Avatar -->
                              <span class="dt-avatar bg-primary text-white font-italic">Ant</span>
                              <!-- /avatar -->

                              <!-- Avatar Info -->
                              <span class="dt-avatar-info">
                              <span class="dt-avatar-name">Flexile</span>
                              <span class="f-12">Example Web</span>
                            </span>
                              <!-- /avatar info -->

                            </a>
                          </div>
                          <!-- /search result-->

                          <!-- Search Result-->
                          <div class="search-result">
                            <a href="javascript:void(0)" class="dt-avatar-wrapper">
                              <!-- Avatar -->
                              <span class="dt-avatar bg-primary text-white font-italic">React</span>
                              <!-- /avatar -->

                              <!-- Avatar Info -->
                              <span class="dt-avatar-info">
                              <span class="dt-avatar-name">Admin Template</span>
                              <span class="f-12">Example Web</span>
                            </span>
                              <!-- /avatar info -->

                            </a>
                          </div>
                          <!-- /search result-->

                        </div>
                        <!-- /search -->

                        <!-- Notification -->
                        <div class="dt-notification fade" id="drawer-notifications">

                          <div class="d-flex align-items-center mb-6">
                            <h5 class="mb-0">Notifications (7)</h5>

                            <div class="ml-auto action-area">
                              <a href="javascript:void(0)">Mark All Read</a>

                              <!-- Dropdown -->
                              <span class="dropdown ml-2 d-inline-block">
                              <a class="dropdown-toggle no-arrow" href="javascript:void(0)" data-toggle="dropdown"
                                 aria-haspopup="true" aria-expanded="false">
                                <i class="icon icon-settings icon-lg text-light-gray"></i>
                              </a>

                              <span class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="javascript:void(0)">
                                  <i class="icon icon-editors icon-fw"></i>
                                  Edit
                                </a>
                                <a class="dropdown-item" href="javascript:void(0)">
                                  <i class="icon icon-contacts icon-fw"></i>
                                  Contact List</a>
                                <a class="dropdown-item" href="javascript:void(0)">
                                  <i class="icon icon-heart icon-fw"></i>
                                  Favourite List
                                </a>
                              </span>
                            </span>
                              <!-- /dropdown -->

                            </div>
                          </div>

                          <!-- Media -->
                          <a href="javascript:void(0)" class="media">

                            <!-- Avatar -->
                            <img class="dt-avatar mr-3" src="/assets/images/user-avatar/stella-johnson.jpg" alt="User">
                            <!-- avatar -->

                            <!-- Media Body -->
                            <span class="media-body">
                              <span class="message">
                                <span class="user-name">Stella Johnson</span> and <span class="user-name">Chris Harris</span>
                                have birthdays today. Help them celebrate!
                              </span>
                              <span class="meta-date">8 hours ago</span>
                            </span>
                            <!-- /media body -->

                          </a>
                          <!-- /media -->

                          <!-- Media -->
                          <a href="javascript:void(0)" class="media">

                            <!-- Avatar -->
                            <img class="dt-avatar mr-3" src="/assets/images/user-avatar/jeson-born.jpg" alt="User">
                            <!-- avatar -->

                            <!-- Media Body -->
                            <span class="media-body">
                              <span class="message">
                                <span class="user-name">Jonathan Madano</span> commented on your post.
                              </span>
                              <span class="meta-date">9 hours ago</span>
                            </span>
                            <!-- /media body -->

                          </a>
                          <!-- /media -->

                          <!-- Media -->
                          <a href="javascript:void(0)" class="media">

                            <!-- Avatar -->
                            <img class="dt-avatar mr-3" src="/assets/images/user-avatar/selena.jpg" alt="User">
                            <!-- avatar -->

                            <!-- Media Body -->
                            <span class="media-body">
                        <span class="message">
                          <span class="user-name">Chelsea Brown</span> sent a video recomendation.
                        </span>
                        <span class="meta-date">
                          <i class="icon icon-play-circle text-primary icon-fw mr-1"></i>
                          13 hours ago
                        </span>
                      </span>
                            <!-- /media body -->

                          </a>
                          <!-- /media -->

                          <!-- Media -->
                          <a href="javascript:void(0)" class="media">

                            <!-- Avatar -->
                            <img class="dt-avatar mr-3" src="/assets/images/user-avatar/alex-dolgove.jpg" alt="User">
                            <!-- avatar -->

                            <!-- Media Body -->
                            <span class="media-body">
                              <span class="message">
                                <span class="user-name">Alex Dolgove</span> and <span class="user-name">Chris Harris</span>
                                like your post.
                              </span>
                              <span class="meta-date">
                                <i class="icon icon-like text-light-blue icon-fw mr-1"></i>
                                yesterday at 9:30
                              </span>
                            </span>
                            <!-- /media body -->

                          </a>
                          <!-- /media -->

                          <!-- Media -->
                          <a href="javascript:void(0)" class="media">

                            <!-- Avatar -->
                            <img class="dt-avatar mr-3" src="/assets/images/user-avatar/amay.jpg" alt="User">
                            <!-- avatar -->

                            <!-- Media Body -->
                            <span class="media-body">
                              <span class="message">
                                <span class="user-name">Amay Mathur</span> and <span class="user-name">Domnic Harris</span>
                                comment your post.
                              </span>
                              <span class="meta-date">
                                <i class="icon icon-message icon-fw mr-1"></i>
                                yesterday at 9:30
                              </span>
                            </span>
                            <!-- /media body -->

                          </a>
                          <!-- /media -->

                          <!-- Media -->
                          <a href="javascript:void(0)" class="media">

                            <!-- Avatar -->
                            <img class="dt-avatar mr-3" src="/assets/images/user-avatar/steve-smith.jpg" alt="User">
                            <!-- avatar -->

                            <!-- Media Body -->
                            <span class="media-body">
                              <span class="message">
                                <span class="user-name">Steve Smith</span> and <span class="user-name">Jimmy</span>
                                inviting on our page.
                              </span>
                              <span class="meta-date">
                                Monday at 18:30
                              </span>
                            </span>
                            <!-- /media body -->

                          </a>
                          <!-- /media -->

                          <!-- Media -->
                          <a href="javascript:void(0)" class="media">

                            <!-- Avatar -->
                            <img class="dt-avatar mr-3" src="/assets/images/user-avatar/alex-dolgove.jpg" alt="User">
                            <!-- avatar -->

                            <!-- Media Body -->
                            <span class="media-body">
                              <span class="message">
                                <span class="user-name">Alex Dolgove</span> and <span class="user-name">Chris Harris</span>
                                like your post.
                              </span>
                              <span class="meta-date">
                                <i class="icon icon-like text-light-blue icon-fw mr-1"></i>
                                yesterday at 9:30
                              </span>
                            </span>
                            <!-- /media body -->

                          </a>
                          <!-- /media -->
                        </div>
                        <!-- /notification -->

                      </div>

                    </div>
                    <!-- /drawer content area -->

                  </div>
                  <!-- /actionable drawer -->

                </div>
                <!-- /module drawer inner -->

              </div>
              <!-- /module drawer -->

            </div>
            <!-- /module -->

          </div>
          <!-- /grid item -->

        </div>
        <!-- /grid -->

      </div>
      <!-- /site content -->
      <%= render 'layouts/partials/footer', collection: @partials %>
    </div>
    <%= render 'layouts/partials/customizer', collection: @partials %>
  </main>
</div>
<%= render 'layouts/partials/end', collection: @partials %>

<!-- Modal -->
<div class="modal fade contact-modal" id="composeModal" tabindex="-1" role="dialog" aria-hidden="true">

  <!-- Modal Dialog -->
  <div class="modal-dialog modal-lg" role="document">
    <!-- Modal Content -->
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">
          Add Contact
        </h4>
        <a href="javascript:void(0)" class="close" data-dismiss="modal" aria-label="Close">
          <i class="icon icon-remove icon-fw icon-xl"></i> </a>
      </div>
      <!-- /modal header -->

      <!-- Modal Body -->
      <div class="modal-body">
        <div class="row no-gutters">
          <div class="col-lg-3 text-center text-lg-right order-lg-2">
            <img class="ml-lg-3 mb-4 mb-lg-0 dt-avatar size-120" src="/assets/images/placeholder.jpg" alt="Avatar">
          </div>

          <div class="col-lg-9 order-lg-1">
            <form>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Name">
              </div>

              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email">
              </div>

              <div class="form-group">
                <input type="text" class="form-control" placeholder="Phone">
              </div>

              <div class="form-group">
                <input type="text" class="form-control" placeholder="Designation">
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- /modal body -->

      <!-- Modal Footer -->
      <div class="modal-footer justify-content-start">
        <a class="btn btn-primary" href="javascript:void(0)" data-dismiss="modal">
          <i class="icon icon-contacts icon-fw"></i> <span>Save Contact</span> </a>
      </div>
      <!-- /modal footer -->
    </div>
    <!-- /modal content -->
  </div>
  <!-- /modal dialog -->

</div>
<!-- /modal -->

<!-- Dependencies -->
<%= javascript_include_tag 'script.js' %>
<%= javascript_include_tag 'apps/app.js' %>