 <div class="dt-root">
  <%= render 'layouts/partials/header', collection: @partials %> 
  <main class="dt-main">
    <%= render 'layouts/partials/sidebar', collection: @partials %>
    <!-- Site Content Wrapper -->
    <div class="dt-content-wrapper">
     <!-- Site Content -->
      <div class="dt-content">

        <!-- Page Header -->
        <div class="dt-page__header">
          <h1 class="dt-page__title">List View</h1>
        </div>
        <!-- /page header -->

        <!-- Grid -->
        <div class="row">

          <!-- Grid Item -->
          <div class="col-xl-12">

            <!-- Card -->
            <div class="dt-card">

              <!-- Card Body -->
              <div class="dt-card__body">

                <!-- List -->
                <div class="d-sm-flex flex-sm-row">

                  <!-- User Avatar-->
                  <img class="dt-avatar size-60 mr-6 mb-6 mb-sm-0" src="/assets/images/user-avatar/steve-smith.jpg" alt="User">
                  <!-- /user avatar-->

                  <!-- Content -->
                  <div class="flex-1 overflow-hidden mb-6 mb-sm-0 pr-sm-3">
                    <div class="text-truncate">
                      <h4 class="d-inline-block mb-3 pr-4 mr-3 border-right">Joshua Brian</h4>
                      <h4 class="d-inline-block mb-3">Data Analyst</h4>
                    </div>
                    <p class="text-truncate">Cicero famously orated against his political opponent Lucius Sergius
                      Catilina...</p>
                    <div class="d-flex flex-sm-row flex-column">
                      <div class="mb-4 mb-sm-0">
                        <span class="mr-4 mr-md-6 text-nowrap"><span class="text-dark">$35.00</span>/hr</span>
                        <span class="mr-4 mr-md-6 text-nowrap"><span class="text-dark">$170k+ </span>earned</span>
                      </div>
                      <div class="dt-indicator-item__info" data-fill="82" data-max="100" data-percent="true"
                           data-sufix="Job Success" style="width: 220px">
                        <span class="dt-indicator-item__count text-success text-nowrap mr-3">0</span>
                        <div class="dt-indicator-item__bar">
                          <div class="dt-indicator-item__fill bg-success"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /content -->

                  <div class="min-w-120">
                    <a href="javascript:void(0)" class="btn btn-primary text-uppercase btn-block">Hire me</a>
                    <a href="javascript:void(0)" class="btn btn-outline-light text-light-gray text-uppercase btn-block">
                      <i class="icon icon-star-o icon-fw"></i> <span>Save</span>
                    </a>
                  </div>

                </div>
                <!-- /list -->

              </div>
              <!-- /card body -->

            </div>
            <!-- /card -->

          </div>
          <!-- /grid item -->

          <!-- Grid Item -->
          <div class="col-xl-12">

            <!-- Card -->
            <div class="dt-card">

              <!-- Card Body -->
              <div class="dt-card__body">

                <!-- List -->
                <div class="d-sm-flex flex-sm-row">

                  <!-- User Avatar-->
                  <img class="dt-avatar size-60 mr-6 mb-6 mb-sm-0" src="/assets/images/user-avatar/stella-johnson.jpg" alt="User">
                  <!-- /user avatar-->

                  <!-- Content -->
                  <div class="flex-1 overflow-hidden mb-6 mb-sm-0 pr-sm-3">
                    <div class="text-truncate">
                      <h4 class="d-inline-block mb-3 pr-4 mr-3 border-right">Alia Joseph</h4>
                      <h4 class="d-inline-block mb-3">UX/UI Expert</h4>
                    </div>
                    <p class="text-truncate">Cicero famously orated against his political opponent Lucius Sergius Catilina...</p>
                    <div class="d-flex flex-sm-row flex-column">
                      <div class="mb-4 mb-sm-0">
                        <span class="mr-4 mr-md-6 text-nowrap"><span class="text-dark">$13.00</span>/hr</span>
                        <span class="mr-4 mr-md-6 text-nowrap"><span class="text-dark">$78k+ </span>earned</span>
                      </div>
                      <div class="dt-indicator-item__info" data-fill="86" data-max="100" data-percent="true"
                           data-sufix="Job Success" style="width: 220px">
                        <span class="dt-indicator-item__count text-success text-nowrap mr-3">0</span>
                        <div class="dt-indicator-item__bar">
                          <div class="dt-indicator-item__fill bg-success"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /content -->

                  <div class="min-w-120">
                    <a href="javascript:void(0)" class="btn btn-primary text-uppercase btn-block">Hire me</a>
                    <a href="javascript:void(0)" class="btn btn-outline-light text-light-gray text-uppercase btn-block">
                      <i class="icon icon-star-o icon-fw"></i> <span>Save</span>
                    </a>
                  </div>

                </div>
                <!-- /list -->

              </div>
              <!-- /card body -->

            </div>
            <!-- /card -->

          </div>
          <!-- /grid item -->

          <!-- Grid Item -->
          <div class="col-xl-12">

            <!-- Card -->
            <div class="dt-card">

              <!-- Card Body -->
              <div class="dt-card__body">

                <!-- List -->
                <div class="d-sm-flex flex-sm-row">

                  <!-- User Avatar-->
                  <img class="dt-avatar size-60 mr-6 mb-6 mb-sm-0" src="/assets/images/user-avatar/kemroon-white.jpg" alt="User">
                  <!-- /user avatar-->

                  <!-- Content -->
                  <div class="flex-1 overflow-hidden mb-6 mb-sm-0 pr-sm-3">
                    <div class="text-truncate">
                      <h4 class="d-inline-block mb-3 pr-4 mr-3 border-right">Kemroon White</h4>
                      <h4 class="d-inline-block mb-3">Data Scientist</h4>
                    </div>
                    <p class="text-truncate">Cicero famously orated against his political opponent Lucius Sergius
                      Catilina...</p>
                    <div class="d-flex flex-sm-row flex-column">
                      <div class="mb-4 mb-sm-0">
                        <span class="mr-4 mr-md-6 text-nowrap"><span class="text-dark">$25.00</span>/hr</span>
                        <span class="mr-4 mr-md-6 text-nowrap"><span class="text-dark">$50k+ </span>earned</span>
                      </div>
                      <div class="dt-indicator-item__info" data-fill="91" data-max="100" data-percent="true"
                           data-sufix="Job Success" style="width: 220px">
                        <span class="dt-indicator-item__count text-success text-nowrap mr-3">0</span>
                        <div class="dt-indicator-item__bar">
                          <div class="dt-indicator-item__fill bg-success"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /content -->

                  <div class="min-w-120">
                    <a href="javascript:void(0)" class="btn btn-primary text-uppercase btn-block">Hire me</a>
                    <a href="javascript:void(0)" class="btn btn-outline-light text-light-gray text-uppercase btn-block">
                      <i class="icon icon-star-o icon-fw"></i> <span>Save</span>
                    </a>
                  </div>

                </div>
                <!-- /list -->

              </div>
              <!-- /card body -->

            </div>
            <!-- /card -->

          </div>
          <!-- /grid item -->

          <!-- Grid Item -->
          <div class="col-xl-12">

            <!-- Card -->
            <div class="dt-card">

              <!-- Card Body -->
              <div class="dt-card__body">

                <!-- List -->
                <div class="d-sm-flex flex-sm-row">

                  <!-- User Avatar-->
                  <img class="dt-avatar size-60 mr-6 mb-6 mb-sm-0" src="/assets/images/user-avatar/selena.jpg" alt="User">
                  <!-- /user avatar-->

                  <!-- Content -->
                  <div class="flex-1 overflow-hidden mb-6 mb-sm-0 pr-sm-3">
                    <div class="text-truncate">
                      <h4 class="d-inline-block mb-3 pr-4 mr-3 border-right">Selena</h4>
                      <h4 class="d-inline-block mb-3"> Web Designer / UI &amp; UX Expert</h4>
                    </div>
                    <p class="text-truncate">Cicero famously orated against his political opponent Lucius Sergius
                      Catilina...</p>
                    <div class="d-flex flex-sm-row flex-column">
                      <div class="mb-4 mb-sm-0">
                        <span class="mr-4 mr-md-6 text-nowrap"><span class="text-dark">$20.00</span>/hr</span>
                        <span class="mr-4 mr-md-6 text-nowrap"><span class="text-dark">$650k+ </span>earned</span>
                      </div>
                      <div class="dt-indicator-item__info" data-fill="97" data-max="100" data-percent="true"
                           data-sufix="Job Success" style="width: 220px">
                        <span class="dt-indicator-item__count text-success text-nowrap mr-3">0</span>
                        <div class="dt-indicator-item__bar">
                          <div class="dt-indicator-item__fill bg-success"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /content -->

                  <div class="min-w-120">
                    <a href="javascript:void(0)" class="btn btn-primary text-uppercase btn-block">Hire me</a>
                    <a href="javascript:void(0)" class="btn btn-outline-light text-light-gray text-uppercase btn-block">
                      <i class="icon icon-star-o icon-fw"></i> <span>Save</span>
                    </a>
                  </div>

                </div>
                <!-- /list -->

              </div>
              <!-- /card body -->

            </div>
            <!-- /card -->

          </div>
          <!-- /grid item -->

          <!-- Grid Item -->
          <div class="col-xl-12">

            <!-- Card -->
            <div class="dt-card">

              <!-- Card Body -->
              <div class="dt-card__body">

                <!-- List -->
                <div class="d-sm-flex flex-sm-row">

                  <!-- User Avatar-->
                  <img class="dt-avatar size-60 mr-6 mb-6 mb-sm-0" src="/assets/images/user-avatar/jeson-born.jpg" alt="User">
                  <!-- /user avatar-->

                  <!-- Content -->
                  <div class="flex-1 overflow-hidden mb-6 mb-sm-0 pr-sm-3">
                    <div class="text-truncate">
                      <h4 class="d-inline-block mb-3 pr-4 mr-3 border-right">Jeson Born</h4>
                      <h4 class="d-inline-block mb-3">Web Developer</h4>
                    </div>
                    <p class="text-truncate">Cicero famously orated against his political opponent Lucius Sergius
                      Catilina...</p>
                    <div class="d-flex flex-sm-row flex-column">
                      <div class="mb-4 mb-sm-0">
                        <span class="mr-4 mr-md-6 text-nowrap"><span class="text-dark">$23.00</span>/hr</span>
                        <span class="mr-4 mr-md-6 text-nowrap"><span class="text-dark">$65k+ </span>earned</span>
                      </div>
                      <div class="dt-indicator-item__info" data-fill="87" data-max="100" data-percent="true"
                           data-sufix="Job Success" style="width: 220px">
                        <span class="dt-indicator-item__count text-success text-nowrap mr-3">0</span>
                        <div class="dt-indicator-item__bar">
                          <div class="dt-indicator-item__fill bg-success"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /content -->

                  <div class="min-w-120">
                    <a href="javascript:void(0)" class="btn btn-primary text-uppercase btn-block">Hire me</a>
                    <a href="javascript:void(0)" class="btn btn-outline-light text-light-gray text-uppercase btn-block">
                      <i class="icon icon-star-o icon-fw"></i> <span>Save</span>
                    </a>
                  </div>

                </div>
                <!-- /list -->

              </div>
              <!-- /card body -->

            </div>
            <!-- /card -->

          </div>
          <!-- /grid item -->

          <!-- Grid Item -->
          <div class="col-xl-12">

            <!-- Card -->
            <div class="dt-card">

              <!-- Card Body -->
              <div class="dt-card__body">

                <!-- List -->
                <div class="d-sm-flex flex-sm-row">

                  <!-- User Avatar-->
                  <img class="dt-avatar size-60 mr-6 mb-6 mb-sm-0" src="/assets/images/user-avatar/nikki.jpg" alt="User">
                  <!-- /user avatar-->

                  <!-- Content -->
                  <div class="flex-1 overflow-hidden mb-6 mb-sm-0 pr-sm-3">
                    <div class="text-truncate">
                      <h4 class="d-inline-block mb-3 pr-4 mr-3 border-right">Nikki Johnson</h4>
                      <h4 class="d-inline-block mb-3">React Developer</h4>
                    </div>
                    <p class="text-truncate">Cicero famously orated against his political opponent Lucius Sergius
                      Catilina...</p>
                    <div class="d-flex flex-sm-row flex-column">
                      <div class="mb-4 mb-sm-0">
                        <span class="mr-4 mr-md-6 text-nowrap"><span class="text-dark">$35.00</span>/hr</span>
                        <span class="mr-4 mr-md-6 text-nowrap"><span class="text-dark">$75k+ </span>earned</span>
                      </div>
                      <div class="dt-indicator-item__info" data-fill="79" data-max="100" data-percent="true"
                           data-sufix="Job Success" style="width: 220px">
                        <span class="dt-indicator-item__count text-success text-nowrap mr-3">0</span>
                        <div class="dt-indicator-item__bar">
                          <div class="dt-indicator-item__fill bg-success"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /content -->

                  <div class="min-w-120">
                    <a href="javascript:void(0)" class="btn btn-primary text-uppercase btn-block">Hire me</a>
                    <a href="javascript:void(0)" class="btn btn-outline-light text-light-gray text-uppercase btn-block">
                      <i class="icon icon-star-o icon-fw"></i> <span>Save</span>
                    </a>
                  </div>

                </div>
                <!-- /list -->

              </div>
              <!-- /card body -->

            </div>
            <!-- /card -->

          </div>
          <!-- /grid item -->

          <!-- Grid Item -->
          <div class="col-xl-12">

            <!-- Card -->
            <div class="dt-card">

              <!-- Card Body -->
              <div class="dt-card__body">

                <!-- List -->
                <div class="d-sm-flex flex-sm-row">

                  <!-- User Avatar-->
                  <img class="dt-avatar size-60 mr-sm-6 mb-6 mb-sm-0" src="/assets/images/user-avatar/mathew.jpg" alt="User">
                  <!-- /user avatar-->

                  <!-- Content -->
                  <div class="flex-1 overflow-hidden mb-6 mb-sm-0 pr-sm-3">
                    <div class="text-truncate">
                      <h4 class="d-inline-block mb-3 pr-4 mr-3 border-right">Chris Harris</h4>
                      <h4 class="d-inline-block mb-3">Graphic Design / Logo Design / UI & UX</h4>
                    </div>
                    <p class="text-truncate">Cicero famously orated against his political opponent Lucius Sergius Catilina...</p>
                    <div class="d-flex flex-sm-row flex-column">
                      <div class="mb-4 mb-sm-0">
                        <span class="mr-4 mr-md-6 text-nowrap"><span class="text-dark">$15.00</span>/hr</span>
                        <span class="mr-4 mr-md-6 text-nowrap"><span class="text-dark">$70k+ </span>earned</span>
                      </div>
                      <div class="dt-indicator-item__info" data-fill="94" data-max="100" data-percent="true"
                           data-sufix="Job Success" style="width: 220px">
                        <span class="dt-indicator-item__count text-success text-nowrap mr-3">0</span>
                        <div class="dt-indicator-item__bar">
                          <div class="dt-indicator-item__fill bg-success"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /content -->

                  <div class="min-w-120">
                    <a href="javascript:void(0)" class="btn btn-primary text-uppercase btn-block">Hire me</a>
                    <a href="javascript:void(0)" class="btn btn-outline-light text-light-gray text-uppercase btn-block">
                      <i class="icon icon-star-o icon-fw"></i> <span>Save</span>
                    </a>
                  </div>

                </div>
                <!-- /list -->

              </div>
              <!-- /card body -->

            </div>
            <!-- /card -->

          </div>
          <!-- /grid item -->

        </div>
        <!-- /grid -->

      </div>
      <!-- /site content -->
      <%= render 'layouts/partials/footer', collection: @partials %>
    </div>
    <%= render 'layouts/partials/customizer', collection: @partials %>
  </main>
</div>
<%= render 'layouts/partials/end', collection: @partials %>
<!-- Dependencies -->
<%= javascript_include_tag 'script.js' %>